.wrapper {
  background: var(--bs-gray-100);
  width: 100%;
  min-height: 100dvh;
  min-height: 100vh;
}

.main-form {
  background: var(--bs-gray-300);
  width: inherit;
  min-height: inherit;
}

.login-form {
  width: 100%;
  max-width: 21.875rem;
}

.add-admin-form {
  width: 100%;
  max-width: 31.25rem;
}